{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://ci02630624-api-gateway.apps.azx611f3.k8s.delta.sbrf.ru","description":"Generated server url"}],"tags":[{"name":"LinkIndividualOrganizationController","description":"Операции с связями индивидуального запроса ФЛ и организации"},{"name":"ComplianceFinOperationController","description":"Операции с фин.операциями"},{"name":"FinMonOrganizationController","description":"Получение данных Организации"},{"name":"ProactiveOnboardingController","description":"Уведомление организаций по МОП 2.0 и онбордингу"},{"name":"TemplateParameterController","description":"Операции с параметрами шаблонов"},{"name":"ComplianceOrganizationExtensionController","description":"Операции с дополнительной информацией по организациям"},{"name":"FinMonComplianceRequestController","description":"Получение данных Запроса Комплаенс"},{"name":"FileLoadingHistoryController","description":"Действия с прикреплёнными файлами клиента в Запросе Комплаенс/ПСФ"},{"name":"ComplianceProfileController","description":"Получение данных по виджету Схема бизнеса"},{"name":"PrintFormsConfigController","description":"Операции c настройками выбора печатной формы"},{"name":"IndividualRequestHistoryController","description":"Операции с историей изменений запроса ФЛ"},{"name":"DigitalUserComplianceContactController","description":"Операции с контактом делегированного лица"},{"name":"AdClientMarkingController","description":"Операции с разметкой клиентов"},{"name":"ProactiveCatalogRecommendationsController","description":"Справочник рекомендаций для проактивной работы"},{"name":"ComplianceEventController","description":"Операции с историей событий"},{"name":"InfrastructureController","description":"Материально-техническое обеспечение Организации"},{"name":"PrintFormsController","description":"Операции с печатными формами"},{"name":"DataCloudController","description":"Контроллер для запросов в интеграцию \"Облако данных\""},{"name":"ComplianceFreeFormatLetterController","description":"Операции с письмами свободного формата"},{"name":"DeputyEmployeeController","description":"Операции с замещениями сотрудников"},{"name":"ComplianceFinOperationAttributeController","description":"Операции с атрибутами фин.операций"},{"name":"PremCoreController","description":"Контроллер для работы с ендпоинтами для PREMCORE"},{"name":"TemplateController","description":"Операции с шаблонами уведомлений"},{"name":"ComplianceEmployeeController","description":"Операции с сотрудниками"},{"name":"ComplianceAssistantSubscriptionController","description":"Операции с подпиской Комплаенс помощник"},{"name":"LinkTemplateParameterController","description":"Операции с связями параметров и шаблонов"},{"name":"DigitalUserComplianceController","description":"Операции с делегированным лицом по комплаенс"},{"name":"OrganizationBusinessSchemeController","description":"Схема бизнеса Организации"},{"name":"ProcessSettingController","description":"Операции с фоновыми процессами"},{"name":"OrganizationAttributeController","description":"Операции с атрибутами организации"},{"name":"ComplianceChecklistController","description":"Операции с структурой документов"},{"name":"EventsNoticeSettingController","description":"Операции с настройкой уведомлений для событий из истории событий"},{"name":"RehabilitationBufferChecklistController","description":"Операции с чек-листами промежуточного запроса на реабилитацию"},{"name":"OnlineRequestController","description":"Взаимодействия по Онлайн Запросам"},{"name":"CounterpartyController","description":"the CounterpartyController API"},{"name":"ReferenceValuesController","description":"Операции со справочными значения"},{"name":"AttributeDisplayConfigController","description":"Операции с конфигами отображения атрибутов фин.операций"},{"name":"AdQueueController","description":"Операции с очередями распределения"},{"name":"AdCounterController","description":"Операции с счетчиками распределения"},{"name":"ComplianceRecommendationCibController","description":"Операции с рекомендациями КИБ"},{"name":"EventsNoticeController","description":"Операции с уведомлением для событий из истории событий"},{"name":"SystemPreferencesController","description":"Операции с системными настройками"},{"name":"ComplianceCommunicationController","description":"Операции с взаимодействиями"},{"name":"ComplianceFinOperationSettingController","description":"Операции с настройками фин.операций"},{"name":"IntLockController","description":"Операции с информацией о блокировке для leader election"},{"name":"EmployeeNotificationWhiteListController","description":"Контроллер для белого списка для уведомлений сотрудников РМ МОП"},{"name":"FinMonFreeFormatLetterController","description":"Получение данных ПСФ"},{"name":"OrganizationBusinessSchemeAttachmentController","description":"Вложения для клиента в схеме бизнеса"},{"name":"DboContractController","description":"Операции с договором ДБО"},{"name":"EventsNoticeConditionController","description":"Операции с условием для уведомлений по событиям"},{"name":"EcmController","description":"Получение информации из ECM"},{"name":"RehabilitationController","description":"the RehabilitationController API"},{"name":"TaskController","description":"Операции с задачами"},{"name":"ComplianceCaseController","description":"Операции с кейсами комплаенс"},{"name":"ComplianceAttachmentsController","description":"Получение данных по"},{"name":"ProductionCalendarController","description":"Операции с производственным календарём"},{"name":"ProactiveCommunicationController","description":"the ProactiveCommunicationController API"},{"name":"EmployeeProfileController","description":"Контроллер для поиска данных профиля сотрудника"},{"name":"CallbackController","description":"Получение данных Обратного звонка"},{"name":"ConstructorPfController","description":"Операции с конструктором печатных форм"},{"name":"IndividualRequestController","description":"Операции с запросами ФЛ"},{"name":"FinOperationController","description":"Взаимодействия по фин. операциям"},{"name":"ComplianceRequestHistoryController","description":"Операции с историей комплаенс запросов"},{"name":"AllTasksController","description":"Работа с ProactiveTask и ComplianceTask"},{"name":"ProactiveController","description":"Взаимодействия по проактиву и онбордингу"},{"name":"ComplianceAttachmentsForClientController","description":"Операции с вложениями для клиента"},{"name":"ComplianceRequestController","description":"Операции с запросами комплаенс"},{"name":"ProactiveAttributesController","description":"Атрибуты проактивной работы"},{"name":"CatalogRecommendationCibController","description":"Операции с справочниками рекомендаций КИБ"},{"name":"ComplianceHistoryClientController","description":"Операции с историей запросов клиента (поиск запросов)"},{"name":"ProductMarkingController","description":"Операции с продуктовой разметкой"},{"name":"ProactiveTaskController","description":"Задачи по проактивной работе"},{"name":"FeatureFlagController","description":"Операции с рубильниками"},{"name":"LinkOrganizationUcpIdController","description":"Операции со связями Организации и ЕПК ID Клиента"},{"name":"CkrIvrController","description":"the CkrIvrController API"},{"name":"ConstructorPfParameterController","description":"Операции по формированию печатных форм через конструктор"},{"name":"DigitalOfficeController","description":"Операции с личным кабинетом ДБО"},{"name":"ComplianceAccountNumberController","description":"Операции с счетами клиентов"},{"name":"AllCommunicationsController","description":"Контроллер для работы с коммуникациями."},{"name":"EventsNoticeConditionGroupController","description":"Операции с группой условий для уведомлений по событиям"},{"name":"ReportController","description":"Операции с отчетами"},{"name":"IntegrationLogReportController","description":"Операции с отчетами по интеграционным сообщениям"},{"name":"JobHistoryController","description":"Операции с информацией по однократному запуску автопроцедуры"},{"name":"FinMonFreeFormatLetterDetailController","description":"Получение данных для детальной формы ПСФ"},{"name":"PilotLogController","description":"Операции с логами пилотных процессов"},{"name":"ComplianceOrganizationController","description":"Операции с организациями"},{"name":"EmployeeNotificationController","description":"Операции с уведомление сотрудников РМ МОП"},{"name":"EntitiesController","description":"Контроллер для получения метаданных сущностей (фильтры, поля, сортировка)"},{"name":"RehabilitationBufferRequestController","description":"Операции с промежуточными запросами на реабилитацию комплаенс"},{"name":"ReferenceValueLinksController","description":"Операции с зависимые справочники"},{"name":"FinMonRehabilitationDetailController","description":"Получение данных Реабилитации"},{"name":"FileTransferTaskController","description":"Действия с задачами по перекладке файлов в целевую папку ECM"},{"name":"BlacklistController","description":"Операции с черным списком номеров телефонов"},{"name":"ReferenceMappingController","description":"Операции с маппингом справочника Онлайн-контроля"},{"name":"ComplianceCaseDecisionController","description":"Операции с решениями комплаенс"},{"name":"ComplianceRequestMarkingController","description":"the ComplianceRequestMarkingController API"},{"name":"FinMonMopOneController","description":"Получение данных МОП 1.0"},{"name":"ComplianceCaseMarkingController","description":"Операции с разметкой ЦК"}],"paths":{"/api/v4/file-loading-history/{id}":{"get":{"tags":["FileLoadingHistoryController"],"summary":"Поиск записи по идентификатору","description":"Поиск записи по идентификатору.","operationId":"fileLoadingHistoryFindOne","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"200":{"description":"Запись найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileLoadingHistoryApiModel"}}}},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileLoadingHistoryApiModel"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["FileLoadingHistoryController"],"summary":"Полное обновление записи","description":"Полное обновление записи. Обновляются все поля. Если поле не указано, оно перезаписывается как null","operationId":"fileLoadingHistorySave","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileLoadingHistoryApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["FileLoadingHistoryController"],"summary":"Удаление записи","description":"Удаление записи","operationId":"fileLoadingHistoryDelete","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"204":{"description":"Запись успешно удалена"},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["FileLoadingHistoryController"],"summary":"Частичное обновление записи","description":"Частичное обновление записи. Обновляются только указанные поля","operationId":"fileLoadingHistoryUpdate","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileLoadingHistoryApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v3/compliance-requests/{id}/from-to-bordo":{"put":{"tags":["ComplianceRequestController"],"summary":"Изменение признака бордовой зоны запроса","description":"Изменение признака бордовой зоны запроса","operationId":"complianceRequestFromToBordo","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceRequestFromToBordo"}}},"required":true},"responses":{"200":{"description":"Идентификатор запроса","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v3/compliance-requests/{id}/close":{"put":{"tags":["ComplianceRequestController"],"summary":"Закрытие комплаенс запроса","description":"Закрытие комплаенс запроса","operationId":"complianceRequestClose","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceRequestClose"}}},"required":true},"responses":{"200":{"description":"Идентификатор запроса","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v3/compliance-requests/{id}/assign":{"put":{"tags":["ComplianceRequestController"],"summary":"Назначение запроса сотруднику","description":"Назначение запроса сотруднику","operationId":"complianceRequestAssign","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceRequestAssign"}}},"required":true},"responses":{"200":{"description":"Идентификатор запроса","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v3/admin/fin-operations/{id}":{"get":{"tags":["ComplianceFinOperationController"],"summary":"Поиск записи по идентификатору","description":"Поиск записи по идентификатору.","operationId":"finOperationFindOne","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"200":{"description":"Запись найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceFinOperationApiModel"}}}},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceFinOperationApiModel"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["ComplianceFinOperationController"],"summary":"Полное обновление записи","description":"Полное обновление записи. Обновляются все поля. Если поле не указано, оно перезаписывается как null","operationId":"finOperationSave","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceFinOperationApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["ComplianceFinOperationController"],"summary":"Удаление записи","description":"Удаление записи","operationId":"finOperationDelete","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"204":{"description":"Запись успешно удалена"},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["ComplianceFinOperationController"],"summary":"Частичное обновление записи","description":"Частичное обновление записи. Обновляются только указанные поля","operationId":"finOperationUpdate","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceFinOperationApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v3/admin/compliance-requests/{id}":{"get":{"tags":["ComplianceRequestController"],"summary":"Поиск записи по идентификатору","description":"Поиск записи по идентификатору.","operationId":"complianceRequestFindOne","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"200":{"description":"Запись найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceRequestApiModel"}}}},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceRequestApiModel"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["ComplianceRequestController"],"summary":"Полное обновление записи","description":"Полное обновление записи. Обновляются все поля. Если поле не указано, оно перезаписывается как null","operationId":"complianceRequestSave","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceRequestApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["ComplianceRequestController"],"summary":"Удаление записи","description":"Удаление записи","operationId":"complianceRequestDelete","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"204":{"description":"Запись успешно удалена"},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["ComplianceRequestController"],"summary":"Частичное обновление записи","description":"Частичное обновление записи. Обновляются только указанные поля","operationId":"complianceRequestUpdate","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceRequestApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v2/system-preferences/{id}":{"get":{"tags":["SystemPreferencesController"],"summary":"Поиск записи по идентификатору","description":"Поиск записи по идентификатору.","operationId":"systemPreferencesFindOne","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"200":{"description":"Запись найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SystemPreferencesApiModel"}}}},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SystemPreferencesApiModel"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["SystemPreferencesController"],"summary":"Полное обновление записи","description":"Полное обновление записи. Обновляются все поля. Если поле не указано, оно перезаписывается как null","operationId":"systemPreferencesSave","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SystemPreferencesApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["SystemPreferencesController"],"summary":"Удаление записи","description":"Удаление записи","operationId":"systemPreferencesDelete","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"204":{"description":"Запись успешно удалена"},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["SystemPreferencesController"],"summary":"Частичное обновление записи","description":"Частичное обновление записи. Обновляются только указанные поля","operationId":"systemPreferencesUpdate","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SystemPreferencesApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v2/request-histories/{id}":{"get":{"tags":["ComplianceRequestHistoryController"],"summary":"Поиск записи по идентификатору","description":"Поиск записи по идентификатору.","operationId":"complianceRequestHistoryFindOne","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"200":{"description":"Запись найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceRequestHistoryApiModel"}}}},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceRequestHistoryApiModel"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["ComplianceRequestHistoryController"],"summary":"Полное обновление записи","description":"Полное обновление записи. Обновляются все поля. Если поле не указано, оно перезаписывается как null","operationId":"complianceRequestHistorySave","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceRequestHistoryApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["ComplianceRequestHistoryController"],"summary":"Удаление записи","description":"Удаление записи","operationId":"complianceRequestHistoryDelete","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"204":{"description":"Запись успешно удалена"},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["ComplianceRequestHistoryController"],"summary":"Частичное обновление записи","description":"Частичное обновление записи. Обновляются только указанные поля","operationId":"complianceRequestHistoryUpdate","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceRequestHistoryApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v2/rehabilitation-buffer-requests/{id}":{"get":{"tags":["RehabilitationBufferRequestController"],"summary":"Поиск записи по идентификатору","description":"Поиск записи по идентификатору.","operationId":"rehabilitationBufferRequestFindOne","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"200":{"description":"Запись найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RehabilitationBufferRequestApiModel"}}}},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RehabilitationBufferRequestApiModel"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["RehabilitationBufferRequestController"],"summary":"Полное обновление записи","description":"Полное обновление записи. Обновляются все поля. Если поле не указано, оно перезаписывается как null","operationId":"rehabilitationBufferRequestSave","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RehabilitationBufferRequestApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["RehabilitationBufferRequestController"],"summary":"Удаление записи","description":"Удаление записи","operationId":"rehabilitationBufferRequestDelete","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"204":{"description":"Запись успешно удалена"},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["RehabilitationBufferRequestController"],"summary":"Частичное обновление записи","description":"Частичное обновление записи. Обновляются только указанные поля","operationId":"rehabilitationBufferRequestUpdate","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RehabilitationBufferRequestApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v2/rehabilitation-buffer-checklists/{id}":{"get":{"tags":["RehabilitationBufferChecklistController"],"summary":"Поиск записи по идентификатору","description":"Поиск записи по идентификатору.","operationId":"rehabilitationBufferChecklistFindOne","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"200":{"description":"Запись найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RehabilitationBufferChecklistApiModel"}}}},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RehabilitationBufferChecklistApiModel"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["RehabilitationBufferChecklistController"],"summary":"Полное обновление записи","description":"Полное обновление записи. Обновляются все поля. Если поле не указано, оно перезаписывается как null","operationId":"rehabilitationBufferChecklistSave","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RehabilitationBufferChecklistApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["RehabilitationBufferChecklistController"],"summary":"Удаление записи","description":"Удаление записи","operationId":"rehabilitationBufferChecklistDelete","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"204":{"description":"Запись успешно удалена"},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["RehabilitationBufferChecklistController"],"summary":"Частичное обновление записи","description":"Частичное обновление записи. Обновляются только указанные поля","operationId":"rehabilitationBufferChecklistUpdate","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RehabilitationBufferChecklistApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v2/reference-values/{id}":{"get":{"tags":["ReferenceValuesController"],"summary":"Поиск записи по идентификатору","description":"Поиск записи по идентификатору.","operationId":"referenceValueFindOne","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"200":{"description":"Запись найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferenceValueApiModel"}}}},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferenceValueApiModel"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["ReferenceValuesController"],"summary":"Полное обновление записи","description":"Полное обновление записи. Обновляются все поля. Если поле не указано, оно перезаписывается как null","operationId":"referenceValueSave","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferenceValueApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["ReferenceValuesController"],"summary":"Удаление записи","description":"Удаление записи","operationId":"referenceValueDelete","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"204":{"description":"Запись успешно удалена"},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["ReferenceValuesController"],"summary":"Частичное обновление записи","description":"Частичное обновление записи. Обновляются только указанные поля","operationId":"referenceValueUpdate","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferenceValueApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v2/reference-value-links/{id}":{"get":{"tags":["ReferenceValueLinksController"],"summary":"Поиск записи по идентификатору","description":"Поиск записи по идентификатору.","operationId":"referenceValueLinkFindOne","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"200":{"description":"Запись найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferenceValueLinkApiModel"}}}},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferenceValueLinkApiModel"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["ReferenceValueLinksController"],"summary":"Полное обновление записи","description":"Полное обновление записи. Обновляются все поля. Если поле не указано, оно перезаписывается как null","operationId":"referenceValueLinkSave","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferenceValueLinkApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["ReferenceValueLinksController"],"summary":"Удаление записи","description":"Удаление записи","operationId":"referenceValueLinkDelete","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"204":{"description":"Запись успешно удалена"},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["ReferenceValueLinksController"],"summary":"Частичное обновление записи","description":"Частичное обновление записи. Обновляются только указанные поля","operationId":"referenceValueLinkUpdate","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferenceValueLinkApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v2/process-settings/{id}":{"get":{"tags":["ProcessSettingController"],"summary":"Поиск записи по идентификатору","description":"Поиск записи по идентификатору.","operationId":"processSettingFindOne","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"200":{"description":"Запись найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessSettingApiModel"}}}},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessSettingApiModel"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["ProcessSettingController"],"summary":"Полное обновление записи","description":"Полное обновление записи. Обновляются все поля. Если поле не указано, оно перезаписывается как null","operationId":"processSettingSave","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessSettingApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["ProcessSettingController"],"summary":"Удаление записи","description":"Удаление записи","operationId":"processSettingDelete","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"204":{"description":"Запись успешно удалена"},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["ProcessSettingController"],"summary":"Частичное обновление записи","description":"Частичное обновление записи. Обновляются только указанные поля","operationId":"processSettingUpdate","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessSettingApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v2/pilot-log/{id}":{"get":{"tags":["PilotLogController"],"summary":"Поиск записи по идентификатору","description":"Поиск записи по идентификатору.","operationId":"pilotLogFindOne","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"200":{"description":"Запись найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PilotLogApiModel"}}}},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PilotLogApiModel"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["PilotLogController"],"summary":"Полное обновление записи","description":"Полное обновление записи. Обновляются все поля. Если поле не указано, оно перезаписывается как null","operationId":"pilotLogSave","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PilotLogApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["PilotLogController"],"summary":"Удаление записи","description":"Удаление записи","operationId":"pilotLogDelete","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"204":{"description":"Запись успешно удалена"},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["PilotLogController"],"summary":"Частичное обновление записи","description":"Частичное обновление записи. Обновляются только указанные поля","operationId":"pilotLogUpdate","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PilotLogApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v2/organization-extensions/{id}":{"get":{"tags":["ComplianceOrganizationExtensionController"],"summary":"Поиск записи по идентификатору","description":"Поиск записи по идентификатору.","operationId":"complianceOrganizationExtensionFindOne","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"200":{"description":"Запись найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationExtensionApiModel"}}}},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationExtensionApiModel"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["ComplianceOrganizationExtensionController"],"summary":"Полное обновление записи","description":"Полное обновление записи. Обновляются все поля. Если поле не указано, оно перезаписывается как null","operationId":"complianceOrganizationExtensionSave","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationExtensionApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["ComplianceOrganizationExtensionController"],"summary":"Удаление записи","description":"Удаление записи","operationId":"complianceOrganizationExtensionDelete","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"204":{"description":"Запись успешно удалена"},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["ComplianceOrganizationExtensionController"],"summary":"Частичное обновление записи","description":"Частичное обновление записи. Обновляются только указанные поля","operationId":"complianceOrganizationExtensionUpdate","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationExtensionApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v2/organization-extensions/batch":{"put":{"tags":["ComplianceOrganizationExtensionController"],"summary":"Полное обновление записей","description":"Полное обновление записей. Обновляются все поля. Если поле не указано, оно перезаписывается как null","operationId":"complianceOrganizationExtensionSaveBatch","parameters":[{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Данные для обновления записей","items":{"$ref":"#/components/schemas/OrganizationExtensionApiModel"}}}},"required":true},"responses":{"200":{"description":"Статусы выполнения операций. Возвращает Map<UUID, ExecutionStatus>.","content":{"application/json":{"schema":{"type":"string","enum":["INIT","SUCCESS","ERROR_ROW_NOT_FOUND","ERROR_ROW_EXISTS"]}}}},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["ComplianceOrganizationExtensionController"],"summary":"Создание записей","description":"Создание записей","operationId":"complianceOrganizationExtensionCreateBatch","parameters":[{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Данные для создания записей","items":{"$ref":"#/components/schemas/OrganizationExtensionApiModel"}}}},"required":true},"responses":{"201":{"description":"Статусы выполнения операций. Возвращает Map<UUID, ExecutionStatus>.","content":{"application/json":{"schema":{"type":"string","enum":["INIT","SUCCESS","ERROR_ROW_NOT_FOUND","ERROR_ROW_EXISTS"]}}}},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["ComplianceOrganizationExtensionController"],"summary":"Удаление записей","description":"Удаление записей","operationId":"complianceOrganizationExtensionDeleteBatch","parameters":[{"name":"ids","in":"query","description":"Идентификаторы записей для удаления","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"200":{"description":"Список идентификаторов удалённых записей","content":{"application/json":{"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}}},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["ComplianceOrganizationExtensionController"],"summary":"Частичное обновление записей","description":"Частичное обновление записей. Обновляются только указанные поля","operationId":"complianceOrganizationExtensionUpdateBatch","parameters":[{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Данные для создания записей","items":{"$ref":"#/components/schemas/OrganizationExtensionApiModel"}}}},"required":true},"responses":{"200":{"description":"Статусы выполнения операций. Возвращает Map<UUID, ExecutionStatus>.","content":{"application/json":{"schema":{"type":"string","enum":["INIT","SUCCESS","ERROR_ROW_NOT_FOUND","ERROR_ROW_EXISTS"]}}}},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v2/organization-business-scheme/{id}":{"get":{"tags":["OrganizationBusinessSchemeController"],"summary":"Поиск записи по идентификатору с насыщением параметра progressBar","description":"Поиск записи по идентификатору с насыщением параметра progressBar.","operationId":"organizationBusinessSchemeFindOne","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"responses":{"200":{"description":"Запись найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationBusinessSchemeApiModel"}}}},"400":{"description":"Неправильно сформирован запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationBusinessSchemeApiModel"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["OrganizationBusinessSchemeController"],"summary":"Полное обновление записи","description":"Полное обновление записи. Обновляются все поля. Если поле не указано, оно перезаписывается как null","operationId":"organizationBusinessSchemeSave","parameters":[{"name":"id","in":"path","description":"Идентификатор записи","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"rq-uuid","in":"header","description":"Идентификатор запроса, используется для отслеживания/трассировки запроса по системе. Если rq-uuid не указан, он будет сгенерирован автоматически"},{"name":"source-system-id","in":"header","description":"Система-источник, которая вызывает сервис"},{"name":"destination-system-id","in":"header","description":"Система-приёмник"},{"name":"session-id","in":"header","description":"Идентификатор сессии"},{"name":"user-ip","in":"header","description":"IP пользователя"},{"name":"user-login","in":"header","description":"Логин пользователя"},{"name":"create-time","in":"header","description":"Время запроса"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationBusinessSchemeApiModel"}}},"required":true},"responses":{"204":{"description":"Запись успешно обновлена"},"400":{"description":"Неправильно сформирован запрос или ошибка валидации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Запись не найдена","content":{"application/json":
[...]
